<!DOCTYPE html>
<html>
    <head>
        <title>BCCL - Book Details</title>
        <link href="/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body link="#660000">
        <form method="post" action="/maintain">
            <input type="hidden" name="book_id" value="{{book.id}}">
            <input type="hidden" name="updateCount" value="{{book.updateCount}}">

        <!-- begin header -->
        <table width="100%" border="0">
            <tr>
                <td bgColor="#333333" colSpan="2">
                    <font face="arial, helvetica" color="#ffffff">Backwater Creek Community</font>
                </td>
            </tr>

            <tr>
                <td vAlign="top">
                    &nbsp;
                    <a href="/search">Search</a> | 
                    <a href="/mobile/search">Mobile</a> | 
                    {{#if user}}
                        <a href="/logout">Logout</a>
                    {{else}}
                        <a href="/login">Login</a>
                    {{/if}}
                </td>
                <td align="right">
                    <img alt="Backwater Creek Community" src="/logo.jpg">
                </td>
            </tr>
        </table>
        <!-- end header -->

        <table cellspacing="5" cellpadding="5" width="100%" align="left">
            <tr>
                <td vAlign="top" align="right" width="200"><b>Title:</b></td>
                <td vAlign="top"><textarea name="title">{{book.title}}</textarea></td>
            </tr>
            <tr>
                <td vAlign="top" align="right"><b>Author:</b></td>
                <td vAlign="top"><input name="author" type="text" value="{{book.author}}" /></td>
            </tr>
            <tr>
                <td vAlign="top" align="right"><b>Additional Author:</b></td>
                <td vAlign="top"><input name="addAuthor" type="text" value="{{book.addAuthor}}" /></td>
            </tr>
            <tr>
                <td vAlign="top" align="right"><b>Call Number:</b></td>
                <td vAlign="top"><input name="callNo" type="text" value="{{book.callNo}}" /></td>
            </tr>
            <tr>
                <td vAlign="top" align="right"><b>Publication Info:</b></td>
                <td vAlign="top"><textarea name="pubInfo">{{book.pubInfo}}</textarea></td>
            </tr>
            <tr>
                <td style="HEIGHT: 57px" vAlign="top" align="right"><b>Description:</b></td>
                <td vAlign="top"><textarea name="descript">{{book.descript}}</textarea></td>
            </tr>
            <tr>
                <td vAlign="top" align="right"><b>Series:</b></td>
                <td vAlign="top"><input name="series" type="text" value="{{book.series}}" /></td>
            </tr>
            {{#if error}}
                <tr>
                    <td>&nbsp;</td>
                    <td style="color:red;">{{error}}</td>
                </tr>
            {{/if}}
            <tr>
                <td>&nbsp;</td>
                <td align="left">
                    <input type="submit" name="btnSave" value="Save" />&nbsp;
                    <input type="submit" name="btnCancel" value="Cancel" />
                </td>
            </tr>

            
        </table>
    </form>
</body>
</html>
